<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Velocity Class">
  <test thread-count="5" name="Test one">
    <classes>
      <class name="testngdiscussion.Test1"/>
       <class name="testngdiscussion.Test3"/>
    
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test two">
    <classes>
      
      <class name="testngdiscussion.Test2"/>
       <class name="testngdiscussion.Test4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

